.titulo-registro{
    text-align: center;
}
.contenedor-registro{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.bloque{
    display: block;
}
.boton{
    width: 100%;
}