<div class="login">
    <form class="formulario" [formGroup]=login (ngSubmit)="validar()">
        <img src="/assets/image/logo-login.png" alt="" width="250px" height="250px">
        <mat-form-field class="ancho">
            <mat-label>Correo</mat-label>
            <input type="email" matInput formControlName="correo">
            @if (login.get('correo')?.hasError('required') && login.get('correo')?.touched) {
                <mat-error>
                    El correo es requerido.
                </mat-error>
            } @else if (login.get('correo')?.hasError('email') && login.get('correo')?.touched) {
                <mat-error>
                    Formato de correo invalido.
                </mat-error>
            }
        </mat-form-field>
        <mat-form-field class="ancho">
            <mat-label>Password</mat-label>
            <input type="password" class="ancho" matInput formControlName="password">
        </mat-form-field>
        <button mat-flat-button class="ancho" [disabled]="login.invalid" type="submit" >Login up</button>
        <button mat-flat-button class="ancho" type="button">Sign up?</button>   
    </form>
    
</div>