.login{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

}

.formulario{
    display: flex;
    flex-direction: column;
    min-width: 450px;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.formulario {
    /* border: 2px transparent red; */
    box-shadow: 0px 0px 10px rgba(25, 80, 75, 1);
    padding: 10px;
    border-radius: 15px;
}
.ancho{
    width: 100%;
}